 <!-- MENU LATERAL -->
 <aside class="menu">
  <div class="menu-bar">
      <div class="menu-logo"></div>
      <div class="menu-button">
          <div class="menu-button-bar"></div>
          <div class="menu-button-bar"></div>
          <div class="menu-button-bar"></div>
      </div>
  </div>
  <div class="menu-box">
      <img src="../../../assets/logo-separado-home.png" alt="">
      <ul class="menu-list">
          <li><a href="#">Revolução</a></li>
          <li><a href="#">Guarda-Chuva de Amigos <span class="icon-r">®</span></a></li>
          <li><a href="#">Simule</a></li>
          <li><a href="#">Produtos & Serviços</a></li>
      </ul>

      <ul class="menu-list menu-small">
          <li><a href="#">Perguntas?</a></li>
          <li><a href="#">Guarda-Chuva do Bem</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termo de Adesão</a></li>
          <li><a href="#">Junte-se ao Time</a></li>
      </ul>

      <div class="menu-contato-footer">
          <ul class="menu-contato">
              <li class="item-cont-num1"><i>0800 01 01</i> ONE</li>
              <li class="item-cont-num2">0800 01 01 663</li>
          </ul>

          <ul class="menu-contato">
              <li class="item-copyright-menu">Copyright<span class="icon-r">®</span> 2017 - OneBroker<span class="icon-r">®</span>.<br>Todos os direitos reservados.</li>
          </ul>
      </div>

  </div>
</aside>
<!-- FIM MENU LATERAL -->