@import '../../../styles.scss';
.menu {
    position: fixed;
    height: 100%;
    width: 100px;
    z-index: 25;
  }
  .menu-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    height: 100%;
    background-color: $grey1;
    .menu-logo {
      position: absolute;
      top: 30px;
      left: calc(50% - 32px);
      width: 64px;
      height: 64px;
      background-image: url(../../../assets/logo-onebroker.png);
      background-repeat: no-repeat;
    }
    .menu-button {
      transition: transform .3s;
      &:hover {
        cursor: pointer;
      }
      .menu-button-bar {
        width: 28px;
        height: 2px;
        margin-bottom: 8px;
        &:nth-of-type(1) {
          background-color: $blue1;
        }
        &:nth-of-type(2) {
          background-color: $blue2;
        }
        &:nth-of-type(3) {
          background-color: $blue3;
          margin-bottom: 0;
        }
      }
    }
  }
  .menu-box {
    position: absolute;
    width: 300px;
    height: 100%;
    transform: translateX(-300px);
    padding: 30px 0;
    top: 0;
    background-color: $grey1;
    transition: transform .3s;
    img {
      max-width: 200px;
    }
    .menu-list {
      padding-top: 25px;
      li {
        font-size: 22px;
        line-height: 1.5;
        font-family: $fontUbuntu;
        color: $grey2;
        font-weight: 300;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
        a {
          text-decoration: none;
          color: $grey2;
        }
      }
    }
    .menu-small {
      li {
        font-size: 16px;
      }
    }
    .menu-contato-footer {
      position: absolute;
      bottom: 90px;
    }
    .menu-contato {
      font-family: $fontUbuntu;
      color: $grey2;
      font-size: 14px;
      font-weight: 300;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      .item-cont-num1 {
        i {
          font-style: italic;
        }
      }
      .item-cont-num2 {
        font-style: italic;
      }
    }
  }
  .menuBarActive {
    .menu-button {
      transform: rotate(90deg);
      transition: transform .3s;
    }
  }
  .icon-r {
    font-size: 13px;
    vertical-align: text-top;
    line-height: 1;
  }
  .menuBarActive ~ .menu-box {
    transform: translateX(100px);
    transition: transform .3s;
  }