@import '../../styles.scss';
.bodyBlack {
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 5;
    }
}
.top-info {
    width: calc(100% - 100px);
    margin-left: 100px;
    background: rgb(146,191,230);
    background: -moz-linear-gradient(90deg, rgba(146,191,230,1) 0%, rgba(148,191,214,1) 34.88%, rgba(108,152,204,1) 72.92%, rgba(63,98,149,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(146,191,230,1) 0%, rgba(148,191,214,1) 34.88%, rgba(108,152,204,1) 72.92%, rgba(63,98,149,1) 100%);
    background: linear-gradient(90deg, rgba(146,191,230,1) 0%, rgba(148,191,214,1) 34.88%, rgba(108,152,204,1) 72.92%, rgba(63,98,149,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#92bfe6",endColorstr="#3f6295",GradientType=1);
    .top-info-content {
        max-width: 942px;
        margin: auto;
        .info-icons-block {
            display: flex;
            justify-content: flex-end;
            padding-top: 25px;
            padding-bottom: 21px;
            .info-icon {
                position: relative;
                width: 28px;
                height: 28px;
                background-size: contain;
                background-repeat: no-repeat;
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
                .info-icon-count {
                    position: absolute;
                    right: -5px;
                    bottom: 5px;
                    width: 14px;
                    height: 14px;
                    display: flex;
                    font-size: 10px;
                    align-items: center;
                    justify-content: center;
                    background-color: #E34320;
                    color: #fff;
                    border-radius: 100%;
                }
            }
            .inbox-item {
                background-image: url(../../assets/inbox-icon.png);
            }
            .cart-item {
                background-image: url(../../assets/cart-icon.png);
            }
        }
        .info-middle {
            display: flex;
            justify-content: space-between;
            padding-bottom: 70px;
            align-items: center;
            .info-user-block {
                display: flex;
                .balance {
                    display: flex;
                    margin: 15px 0 8px;
                    .value-box {
                        display: flex;
                    }
                    .balance-value {
                        font-family: $fontUbuntu;
                        font-size: 30px;
                        font-weight: 700;
                        color: #fff;
                        margin-right: 8px;
                    }
                    a {
                        text-decoration: none;
                        .onebroker-activation {
                            background-color: $orange1;
                            padding: 7px 10px;
                            padding-left: 34px;
                            border-radius: 10px;
                            .btn-activation-text {
                                position: relative;
                                font-family: $fontUbuntu;
                                font-size: 13px;
                                color: #fff;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: -24px;
                                    top: calc(50% - 9px);
                                    display: block;
                                    width: 13px;
                                    height: 18px;
                                    background-image: url(../../assets/badge-btn.png);
                                }
                            }
                        }
                    }
                }
                .balance-description {
                    font-family: $fontUbuntu;
                    color: #fff;
                    font-size: 10px;
                    font-style: italic;
                }
                .info-user-common {
                    padding-right: 19px;
                    border-right: 1px solid;
                }
                .info-user-onebroker {
                    padding-left: 19px;
                }
            }
            .info-search {
                .form-info {
                    display: flex;
                    .search-input {
                        border: none;
                        height: 39px;
                        padding: 10px 20px;
                        margin-right: -20px;
                        border-radius: 15px;
                        color: #fff;
                        border: 1px solid $grey3;
                        background-color: rgba(255,255,255,0.2);
                        &:focus {
                            outline: none;
                        }
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #fff;
                        opacity: 1; /* Firefox */
                        }
                        
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #fff;
                        }
                        
                        &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #fff;
                        }
                    }
                    .search-btn {
                        width: 43px;
                        height: 39px;
                        border: none;
                        background-color: $orange1;
                        border-radius: 10px;
                        &:focus {
                            outline: none;
                        }
                        &:before {
                            content: '';
                            display: block;
                            width: 26px;
                            height: 26px;
                            background-image: url(../../assets/search-icon.png);
                        }
                    }
                }
            }
        }
    }
}
.user-text {
    font-family: $fontUbuntu;
    font-size: 14px;
    color: #fff;
}
.user-text-bold {
    font-weight: 700;
}
.main-grid {
    width: calc(100% - 100px);
    margin-left: 100px;
    position: relative;
    margin-top: -35px;
    .main-grid-content {
        display: flex;
        max-width: 956px;
        margin: auto;
        .lg-block {
            width: 65%;
            margin-right: 3%;
            height: 417px;
            background-color: #fff;
            border-radius: 20px;
            -webkit-box-shadow: 0px 3px 5px 1px rgba(194,194,194,1);
            -moz-box-shadow: 0px 3px 5px 1px rgba(194,194,194,1);
            box-shadow: 0px 3px 5px 1px rgba(194,194,194,1);
            .umbrella {
                position: relative;
                display: flex;
                height: 100%;
                .umbrella-imgs {
                    max-width: 425px;
                    width: 100%;
                    height: 100%;
                    .umbrela-img-item {
                        max-width: 425px;
                        width: 100%;
                        position: absolute;
                        height: 100%;
                        background-size: contain;
                    }
                    .umbrela-user-img {
                        background-image: url(../../assets/user-img.png);
                    }
                    .umbrela-friends-of-friends-img {
                        background-image: url(../../assets/amigos-dos-amigos.png);
                    }
                    .umbrela-friends-img {
                        background-image: url(../../assets/amigos.png);
                    }
                }
                .umbrela-info {
                    position: absolute;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-right: 35px;
                    padding-top: 27px;
                    .general-text {
                        font-family: $fontUbuntu;
                        font-size: 14px;
                        color: $grey5;
                        margin-bottom: 5px;
                    }   
                    .umbrela-text {
                        font-family: $fontUbuntu;
                        font-size: 20px;
                        color: $blue4;
                        margin-bottom: 20px;
                    }
                    .friends-item {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .friends-title {
                            font-family: $fontUbuntu;
                            font-size: 11px;
                            color: $blue5;
                        }
                        .friends-number {
                            position: relative;
                            font-family: $fontUbuntu;
                            font-size: 19px;
                            font-weight: 700;
                            color: $blue5;
                            margin: 7px 0 12px
                        }
                        .friends-info {
                            &:before {
                                content: '';
                                position: absolute;
                                display: block;
                                left: -22px;
                                width:16px;
                                height: 20px;
                                background-image: url(../../assets/amigos-icon.png)
                            }
                        }
                        .friends-of-friends-info {
                            &:before {
                                content: '';
                                position: absolute;
                                display: block;
                                left: -22px;
                                width: 18px;
                                height: 22px;
                                top: calc(50% - 11px);
                                background-image: url(../../assets/amigos-dos-amigos-icon.png)
                            }
                        }
                        .total-friends-info {
                            &:before {
                                content: '';
                                position: absolute;
                                display: block;
                                left: -35px;
                                width: 33px;
                                height: 22px;
                                top: calc(50% - 11px);
                                background-image: url(../../assets/total-amigos-icon.png)
                            }
                        }
                        .friends-active-info {
                            &:before {
                                content: '';
                                position: absolute;
                                display: block;
                                left: -22px;
                                width: 16px;
                                height: 22px;
                                top: calc(50% - 11px);
                                background-image: url(../../assets/amigos-ativos-icon.png)
                            }
                        }
                        .friends-invite-info {
                            &:before {
                                content: '';
                                position: absolute;
                                display: block;
                                left: -22px;
                                width: 18px;
                                height: 14px;
                                top: calc(50% - 7px);
                                background-image: url(../../assets/convites-icon.png)
                            }
                        }
                    }
                }
            }
        }
        .sm-block {
            width: 32%;
            background-color: $grey4;
            border-radius: 20px;
            height: 417px;
            .sm-slider {
                height: 100%;
                .sm-item {
                    height: 417px;
                    .sm-item-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        color: #fff;
                        width: 80%;
                        margin: auto;
                        height: 100%;
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
                .slick-arrow {
                    z-index: 25;
                    &:before {
                        display: none;
                    }
                }
                .slick-prev {
                    left: 14px;
                }
                .slick-next {
                    right: 14px;
                }
            }
        }
    }
}
