<app-header></app-header>
<div class="top-info">
  <div class="top-info-content">
     <div class="info-icons-block">
         <div class="info-icon inbox-item">
             <div class="info-icon-count ">2</div>
         </div>
         <div class="info-icon cart-item">
              <div class="info-icon-count">2</div>
         </div>
     </div>
     <div class="info-middle">
         <div class="info-user-block">
          <div class="info-user-common">
              <p class="user-text">Olá <span class="user-text-bold">Roberto</span>, seu saldo atual é de:</p>
              <div class="balance">
                  <p class="balance-value">1.000,00</p>
                  <span class="balance-value">ONE$</span>
              </div>
              <p class="balance-description">1,00 one$ = R$ 1,00 </p>
          </div>
          <div class="info-user-onebroker">
              <p class="user-text">com <span class="user-text-bold">Cadastro Premiado OneBroker</span> seriam:</p>
              <div class="balance">
                  <div class="value-box">
                      <p class="balance-value">2.000,00</p>
                      <span class="balance-value">ONE$</span>
                  </div>
                  <a href="#">
                      <div class="onebroker-activation">
                          <p class="btn-activation-text">ative agora!</p>
                      </div>
                  </a>
              </div>
          </div>
         </div>
         <div class="info-search">
             <form action="#" class="form-info">
                 <input type="search" name="" id="" class="search-input" placeholder="Procurar produtos e serviços">
                 <button type="submit" class="search-btn"></button>
             </form>
         </div>
     </div>
  </div>
</div>

<div class="main-grid">
  <div class="main-grid-content">
      <div class="lg-block">
          <div class="umbrella">
              <div class="umbrella-imgs">
                  <div class="umbrela-img-item umbrela-user-img"></div>
                  <div class="umbrela-img-item umbrela-friends-of-friends-img"></div>
                  <div class="umbrela-img-item umbrela-friends-img"></div>
              </div>
              <div class="umbrela-info">
                  <p class="general-text">visão geral do seu</p>
                  <p class="umbrela-text">Guarda-Chuva de Amigos</p>
                  <div class="friends-item" id="friends">
                      <h4 class="friends-title">Amigos</h4>
                      <p class="friends-info friends-number">44</p>
                  </div>
                  <div class="friends-item" id="friends-of-friends" >
                      <h4 class="friends-title">Amigos dos amigos</h4>
                      <p class="friends-of-friends-info friends-number">125</p>
                  </div>
                  <div class="friends-item" id="total-friends" >  
                      <h4 class="friends-title">Total de amigos</h4>
                      <p class="total-friends-info friends-number">165</p>
                  </div>
                  <div class="friends-item" id="active-friends" >
                      <h4 class="friends-title">Amigos ativos</h4>
                      <p class="friends-active-info friends-number">119</p>
                  </div>
                  <div class="friends-item" id="invites" >
                      <h4 class="friends-title">Convites pendentes</h4>
                      <p class="friends-invite-info friends-number">333</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="sm-block">
          <!-- <div class="sm-slider">
              <div class="sm-item">
                  <div class="sm-item-text">
                      <img src="assets/images/BLACK-FRIDAY.png" alt="">
                  </div>
              </div>
              <div class="sm-item">
                  <div class="sm-item-text">
                      <img src="assets/images/BLACK-FRIDAY.png" alt="">
                  </div>
              </div>
              <div class="sm-item">
                  <div class="sm-item-text">
                      <img src="assets/images/BLACK-FRIDAY.png" alt="">
                  </div>
              </div>
              <div class="sm-item">
                  <div class="sm-item-text">
                      <img src="assets/images/BLACK-FRIDAY.png" alt="">
                  </div>
              </div>
          </div> -->

          <!-- You can now use your library component in app.component.html -->
    <ngx-slick-carousel class="sm-slider" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="sm-item">
<img src="{{ slide.img }}" alt="" width="100%">
</div>
</ngx-slick-carousel>
          
      </div>
  </div>
</div>
<app-footer></app-footer>